In [2]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

In [3]:
df = pd.read_csv("../data/raw/data_set_phase1/train_plans.csv")

In [4]:
df.shape

(491054, 3)

In [5]:
df.plans = df.apply(lambda x:
                    json.loads('{"plans":' + x.plans + ',"sid":"' + str(x.sid) + '"' + ',"plan_time":' + 
                               '"' + str(x.plan_time) + '"}'), axis=1)

In [6]:
df_unstacked = json_normalize(df.plans.values, 'plans', ['sid', 'plan_time'])

In [8]:
df_unstacked.head()

   distance   eta  price  transport_mode      sid            plan_time
0     32303  5087    600               9  1709112  2018-11-04 11:45:04
1     33678  3149                      3  1709112  2018-11-04 11:45:04
2     33678  3269  10000               4  1709112  2018-11-04 11:45:04
3     32099  5996    600               2  1709112  2018-11-04 11:45:04
4     30446  6494    900               1  1709112  2018-11-04 11:45:04

In [9]:
df_unstacked.shape

(2276822, 6)