In [156]:
import pandas as pd
import numpy as np

In [157]:
!ls ../data/processed

df_test.pickle	df_train.pickle

In [158]:
df_train = pd.read_pickle('../data/processed/df_train.pickle')

In [159]:
df_test = pd.read_pickle('../data/processed/df_test.pickle')

In [160]:
df_train.shape

(2101060, 15)

In [161]:
df_train.head()

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query
0,2848914,2018-11-17 18:42:17,1,53156,6456,700.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570
1,2848914,2018-11-17 18:42:17,1,48112,3535,700.0,3,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570
2,2848914,2018-11-17 18:42:17,1,48112,3655,16500.0,4,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570
3,2848914,2018-11-17 18:42:17,1,51641,8871,1200.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570
4,2629085,2018-10-12 16:28:13,3,13207,2790,400.0,9,2018-10-12 16:27:55,203797.0,2018-10-12 16:27:55,116.35,40.08,116.33,40.03,5.808139

In [117]:
df_train = df_train.assign(target = df_train.apply(lambda x: 1 if x.click_mode == x.transport_mode else 0, axis=1))

In [118]:
df_train.head()

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query,target
0,2848914,2018-11-17 18:42:17,1,53156,6456,700.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,1
1,2848914,2018-11-17 18:42:17,1,48112,3535,700.0,3,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,0
2,2848914,2018-11-17 18:42:17,1,48112,3655,16500.0,4,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,0
3,2848914,2018-11-17 18:42:17,1,51641,8871,1200.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,1
4,2629085,2018-10-12 16:28:13,3,13207,2790,400.0,9,2018-10-12 16:27:55,203797.0,2018-10-12 16:27:55,116.35,40.08,116.33,40.03,5.808139,0

In [119]:
df_X = df_train[["sid", "target", "distance_plan", "eta", "price", "transport_mode"]]

In [120]:
df_test_X = df_train[["sid", "distance_plan", "eta", "price", "transport_mode"]]

In [56]:
df_test_X.sort_values("sid", inplace=True)

/home/sandro/anaconda3/envs/tf_ranking/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
df_test_X.head()

         sid  distance_plan   eta    price
1714840   10          47429  4604    700.0
1714841   10          47429  4604  14100.0
1714842   10          49758  6878   5500.0
1714843   10          47796  7234   3000.0
1714844   10          48995  7396   3200.0

In [46]:
df_X.sort_values("sid", inplace=True)

/home/sandro/anaconda3/envs/tf_ranking/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Target = 1 when clicked / 0 when not clicked

In [47]:
df_X.head(20)

         sid  target  distance_plan   eta    price
1714840   10       0          47429  4604    700.0
1714841   10       0          47429  4604  14100.0
1714842   10       0          49758  6878   5500.0
1714843   10       0          47796  7234   3000.0
1714844   10       1          48995  7396   3200.0
1714839   10       0          49067  6345   3100.0
1897613   21       0           7667  1229   2100.0
1897612   21       0           7667   929    700.0
1897611   21       1           6157  1289    300.0
1657105   25       1           3006  2419    200.0
1657107   25       0           3898   669   1300.0
1657108   25       0           3521  1063    700.0
1657109   25       1           3014  2432    200.0
1657110   25       0           2714  2434    700.0
1657106   25       0           3898   429    700.0
850175    34       0          24642  3530   9200.0
850176    34       0          33507  5470   1000.0
850174    34       0          24642  3410    700.0
850173    34       1          26039  4411    600.0
850177    34       0          25925  5663    600.0

In [48]:
split_index = int(len(df_X) * 0.8)
train = df_X.iloc[:split_index]
val = df_X.iloc[split_index+1:]
test =

In [87]:
df_X.shape

(2101060, 5)

In [88]:
train = df_X.iloc[:1500000]
val = df_X.iloc[1500000 +1:2000000]
test = df_X.iloc[2000000+1:]

In [90]:
train_X=train[["distance_plan", "eta", "price"]]
train_y=train["target"]

val_X=val[["distance_plan", "eta", "price"]]
val_y=val["target"]

test_X=test[["distance_plan", "eta", "price"]]
test_y=test["target"]

query_id_train = train.sid
query_id_val = val.sid
query_id_test = test.sid

In [107]:
from sklearn.datasets import dump_svmlight_file


path_train="../data/interim/train_libsvm_1.txt"
path_val="../data/interim/val_libsvm_1.txt"
path_test="../data/interim/test_libsvm_1.txt"

In [101]:
dump_svmlight_file(X=train_X, y=train_y, f=path_train, query_id=query_id_train, zero_based=False)

In [102]:
dump_svmlight_file(X=val_X, y=val_y, f=path_val, query_id=query_id_val, zero_based=False)

In [103]:
dump_svmlight_file(X=test_X, y=test_y, f=path_test, query_id=query_id_test, zero_based=False)

In [109]:
test_X_10 = test_X[:10]
test_y_10 = test_y[:10]
path_test_10="../data/interim/test_libsvm_10.txt"
query_id_test_10 = test[:10].sid

In [130]:
query_id_test_10.to_pickle("../data/interim/query.pickle")

In [123]:
test_X.to_pickle("../data/interim/test_X.pickle")

In [110]:
dump_svmlight_file(X=test_X_10, y=test_y_10, f=path_test_10, query_id=query_id_test_10, zero_based=False)

In [165]:
def create_svm_file(df, features_X, path):
    """
    This function saves the dataframe as lib svm file.
    """
    df.sort_values("sid", inplace=True)
    
    # Create ranking target
    if 'click_mode' in df.columns:
        df = df.assign(target = df.apply(lambda x: 1 if x.click_mode == x.transport_mode else 0, axis=1))
    else:
        df = df.assign(target = 0)
    
    X = df[features_X]
    y = df["target"]
    query_id = df.sid
    
    # Dump SVM file
    dump_svmlight_file(X=X, y=y, f=path, query_id=query_id, zero_based=False)
    return X, y

In [135]:
df_train.head()

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query,target
0,2848914,2018-11-17 18:42:17,1,53156,6456,700.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,1
1,2848914,2018-11-17 18:42:17,1,48112,3535,700.0,3,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,0
2,2848914,2018-11-17 18:42:17,1,48112,3655,16500.0,4,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,0
3,2848914,2018-11-17 18:42:17,1,51641,8871,1200.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,116.36,40.07,116.00,40.35,43.656570,1
4,2629085,2018-10-12 16:28:13,3,13207,2790,400.0,9,2018-10-12 16:27:55,203797.0,2018-10-12 16:27:55,116.35,40.08,116.33,40.03,5.808139,0

In [136]:
df_train.columns

Index(['sid', 'click_time', 'click_mode', 'distance_plan', 'eta', 'price',
       'transport_mode', 'plan_time', 'pid', 'req_time', 'o_long', 'o_lat',
       'd_long', 'd_lat', 'distance_query', 'target'],
      dtype='object')

In [137]:
test_10 = df_train[:10]

In [167]:
len(df_train)

2101060

In [168]:
df_train_train = df_train[:1500000]

In [169]:
df_train_test = df_train[1500001:]

In [152]:
features = [
    'transport_mode',
    'distance_plan',
    'eta', 
    'price'
]

In [140]:
test_10[features]

   click_mode  distance_plan   eta    price
0           1          53156  6456    700.0
1           1          48112  3535    700.0
2           1          48112  3655  16500.0
3           1          51641  8871   1200.0
4           3          13207  2790    400.0
5           3           8175  1656    700.0
6           3           8175  1776   2700.0
7           3           9620  2424   1600.0
8           3           8079  2443    700.0
9           3          13428  3777    800.0

In [153]:
X, y = create_svm_file(test_10, features, "../data/interim/test_10.libsvm")

/home/sandro/anaconda3/envs/tf_ranking/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [154]:
X.to_pickle("../data/interim/X_10.pickle")

In [155]:
test_10.to_pickle("../data/interim/test_10.pickle")

In [144]:
fo = open('../data/interim/test_10.libsvm')

for i in fo:
    print(i)

0 qid:2629085 1:3 2:13207 3:2790 4:400

1 qid:2629085 1:3 2:8175 3:1656 4:700

0 qid:2629085 1:3 2:8175 3:1776 4:2700

0 qid:2629085 1:3 2:9620 3:2424 4:1600

0 qid:2629085 1:3 2:8079 3:2443 4:700

0 qid:2629085 1:3 2:13428 3:3777 4:800

1 qid:2848914 1:1 2:53156 3:6456 4:700

0 qid:2848914 1:1 2:48112 3:3535 4:700

0 qid:2848914 1:1 2:48112 3:3655 4:16500

1 qid:2848914 1:1 2:51641 3:8871 4:1200

In [162]:
features

['transport_mode', 'distance_plan', 'eta', 'price']

In [163]:
x, y = create_svm_file(df_train, features, '../data/interim/train_final.libsvm')

In [166]:
x, y = create_svm_file(df_test, features, '../data/interim/test_final.libsvm')

In [170]:
x, y = create_svm_file(df_train_train, features, '../data/interim/df_train_train.libsvm')

/home/sandro/anaconda3/envs/tf_ranking/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [171]:
x, y = create_svm_file(df_train_test, features, '../data/interim/df_train_test.libsvm')

/home/sandro/anaconda3/envs/tf_ranking/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [175]:
df_train_test.to_pickle("../data/interim/df_train_test.pickle")

## Save with pids