In [3]:
import logging

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold

# Initialize logger
logger = logging.getLogger(__name__)

def get_X_y(df):
    """
    :param df: DataFrame to extract X and y. y has to be in the last column
    :return: X and y
    """
    X = df.iloc[:, :-1].values
    y = df.iloc[:, -1].values
    return X, y

def create_k_fold(X, y):
    """

    :param X: Feature matrix
    :param y: Label Vector
    :return: KFold Object
    """
    kf = KFold(n_splits=5, random_state=42, shuffle=True)
    kf.get_n_splits(X, y)
    return kf

def execute_k_fold(kf, X, y):
    """
    This function trains the model on each split and prints the f1 score.
    :param kf: KFold Object
    :return: void
    """
    count_iter = 0

    for train_index, test_index in kf.split(X, y):
        count_iter += 1
        logger.info('Split Nr. {}'.format(count_iter))
        logger.debug("Train size: {}, Test size: {}".format(len(train_index), len(test_index)))
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        rf = RandomForestClassifier(n_estimators=10)
        rf.fit(X_train, y_train)
        y_preds = rf.predict(X_test)
        logger.info("F1 Score at split {} is {:.2f} %".format(count_iter, (f1_score(y_test, y_preds, average='weighted')*100)))
        logger.info("====================================================================")

def main(target_col):
    """
    :param column: Which column to take as a label
    """
    logger.info("Start.")
    logger.info("Read in df")
    df = pd.read_pickle('../data/processed/multiclass/task2_df_example.pickle')
    
    label_matrix = pd.read_pickle('../data/interim/label_matrix.pickle')
    
    logger.info("Join label_matrix and df")
    df_w_labels = pd.merge(df, label_matrix, on='pid')

    logger.info("Read in features")
    features = pd.read_pickle('../data/processed/features/task_2.pickle')
    # Add target column to features 
    features = features + [target_col]

    logger.info("Get x and y")
    X, y = get_X_y(df_w_labels[features])

    logger.info("Create KFold object")
    kf = create_k_fold(X, y)

    logger.info("Execute and train model")
    execute_k_fold(kf, X, y)

In [32]:
['1', '2']+ ['3']

['1', '2', '3']

In [26]:
df = pd.read_pickle('../data/interim/task2/df_pp.pickle')

In [27]:
df.shape

(336021, 195)

In [28]:
label_matrix = pd.read_pickle('../data/interim/label_matrix.pickle')

In [29]:
label_matrix.head()

      pid  kmeans_4
0  196356         2
1  204083         1
2  170667         1
3  115511         2
4  129719         0

,sid,click_time,click_mode,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query,...,min_temp,weather,wind,weather_dy,weather_dyq,weather_q,weather_qdy,weather_xq,weather_xydy,kmeans_4
0,753082.0,2018-10-01 00:00:11,5.0,101467.0,2018-10-01 00:00:10,116.34,39.90,116.34,39.90,0.000000,...,12,q,45,0,0,1,0,0,0,2
1,722886.0,2018-10-01 01:46:09,1.0,101467.0,2018-10-01 01:46:06,116.39,39.87,116.39,39.91,0.040000,...,12,q,45,0,0,1,0,0,0,2
2,785617.0,2018-10-01 02:25:23,1.0,101467.0,2018-10-01 02:25:19,116.37,39.86,116.39,39.91,0.053852,...,12,q,45,0,0,1,0,0,0,2
3,785618.0,2018-10-01 02:37:48,3.0,101467.0,2018-10-01 02:37:46,116.37,39.89,116.39,39.91,0.028284,...,12,q,45,0,0,1,0,0,0,2
4,753079.0,2018-10-01 08:00:01,1.0,101467.0,2018-10-01 07:58:52,116.34,39.90,116.39,39.78,0.130000,...,12,q,45,0,0,1,0,0,0,2
5,785168.0,2018-10-01 09:30:57,9.0,101467.0,2018-10-01 09:30:52,116.39,39.98,116.40,39.91,0.070711,...,12,q,45,0,0,1,0,0,0,2
6,785167.0,2018-10-01 09:37:24,2.0,101467.0,2018-10-01 09:37:18,116.39,39.98,116.40,39.93,0.050990,...,12,q,45,0,0,1,0,0,0,2
7,785169.0,2018-10-01 09:40:30,2.0,101467.0,2018-10-01 09:40:28,116.39,39.98,116.40,39.93,0.050990,...,12,q,45,0,0,1,0,0,0,2
8,720532.0,2018-10-01 10:09:28,11.0,101467.0,2018-10-01 10:09:11,116.54,39.76,116.41,39.64,0.176918,...,12,q,45,0,0,1,0,0,0,2
9,729778.0,2018-10-01 10:11:19,1.0,101467.0,2018-10-01 10:10:49,116.19,39.93,116.32,40.05,0.176918,...,12,q,45,0,0,1,0,0,0,2
10,716024.0,2018-10-01 10:19:31,2.0,101467.0,2018-10-01 10:19:22,116.31,40.10,116.39,39.91,0.206155,...,12,q,45,0,0,1,0,0,0,2
11,731196.0,2018-10-01 10:38:01,2.0,101467.0,2018-10-01 10:37:42,116.27,39.93,116.45,39.86,0.193132,...,12,q,45,0,0,1,0,0,0,2
12,731204.0,2018-10-01 11:16:33,2.0,101467.0,2018-10-01 11:16:24,116.40,39.93,116.45,39.86,0.086023,...,12,q,45,0,0,1,0,0,0,2
13,785172.0,2018-10-01 11:18:54,1.0,101467.0,2018-10-01 11:17:53,116.40,39.93,116.40,39.91,0.020000,...,12,q,45,0,0,1,0,0,0,2
14,786972.0,2018-10-01 12:02:56,1.0,101467.0,2018-10-01 12:02:48,116.44,39.88,116.23,40.23,0.408167,...,12,q,45,0,0,1,0,0,0,2
15,780645.0,2018-10-01 12:06:03,9.0,101467.0,2018-10-01 12:05:59,116.32,39.95,116.39,39.89,0.092195,...,12,q,45,0,0,1,0,0,0,2
16,780649.0,2018-10-01 12:19:36,9.0,101467.0,2018-10-01 12:19:34,116.35,39.94,116.39,39.89,0.064031,...,12,q,45,0,0,1,0,0,0,2
17,753078.0,2018-10-01 12:23:47,7.0,101467.0,2018-10-01 12:23:28,116.39,39.90,116.39,39.78,0.120000,...,12,q,45,0,0,1,0,0,0,2
18,731195.0,2018-10-01 12:37:31,2.0,101467.0,2018-10-01 12:37:28,116.45,39.86,116.40,39.91,0.070711,...,12,q,45,0,0,1,0,0,0,2
19,732186.0,NaN,0.0,101467.0,2018-10-01 13:04:16,116.40,39.91,116.40,39.92,0.010000,...,12,q,45,0,0,1,0,0,0,2
20,732187.0,2018-10-01 13:24:49,2.0,101467.0,2018-10-01 13:24:45,116.40,39.91,116.37,39.91,0.030000,...,12,q,45,0,0,1,0,0,0,2
21,753070.0,2018-10-01 15:11:14,1.0,101467.0,2018-10-01 15:11:10,116.41,39.80,116.36,39.81,0.050990,...,12,q,45,0,0,1,0,0,0,2
22,753081.0,2018-10-01 15:20:54,1.0,101467.0,2018-10-01 15:20:52,116.42,39.80,116.45,39.81,0.031623,...,12,q,45,0,0,1,0,0,0,2
23,780648.0,2018-10-01 15:49:33,9.0,101467.0,2018-10-01 15:48:57,116.39,39.90,116.31,39.95,0.094340,...,12,q,45,0,0,1,0,0,0,2
24,780654.0,2018-10-01 16:02:16,9.0,101467.0,2018-10-01 16:02:13,116.38,39.90,116.31,39.95,0.086023,...,12,q,45,0,0,1,0,0,0,2
25,736247.0,2018-10-01 16:22:04,7.0,101467.0,2018-10-01 16:21:51,116.39,39.85,116.63,39.83,0.240832,...,12,q,45,0,0,1,0,0,0,2
26,740272.0,2018-10-01 16:30:31,7.0,101467.0,2018-10-01 16:30:18,116.46,40.01,116.41,40.08,0.086023,...,12,q,45,0,0,1,0,0,0,2
27,780644.0,2018-10-01 18:00:41,2.0,101467.0,2018-10-01 18:00:37,116.32,39.94,116.40,39.93,0.080623,...,12,q,45,0,0,1,0,0,0,2
28,742168.0,2018-10-01 18:20:32,9.0,101467.0,2018-10-01 18:20:16,116.44,39.89,116.33,40.03,0.178045,...,12,q,45,0,0,1,0,0,0,2
29,764898.0,2018-10-01 18:28:16,2.0,101467.0,2018-10-01 18:28:13,116.40,39.91,116.32,39.89,0.082462,...,12,q,45,0,0,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335991,2470472.0,NaN,0.0,159825.0,2018-11-30 21:08:46,116.47,39.91,116.39,39.91,0.080000,...,-3,q,1,0,0,1,0,0,0,0
335992,2428960.0,NaN,0.0,172509.0,2018-11-30 21:15:44,116.35,39.95,116.35,39.96,0.010000,...,-3,q,1,0,0,1,0,0,0,2
335993,2458724.0,NaN,0.0,139933.0,2018-11-30 21:16:53,116.40,39.91,116.39,39.90,0.014142,...,-3,q,1,0,0,1,0,0,0,1
335994,2444647.0,2018-11-30 21:20:13,7.0,196286.0,2018-11-30 21:20:05,116.37,39.89,116.57,40.06,0.262488,...,-3,q,1,0,0,1,0,0,0,2
335995,2444648.0,2018-11-30 22:35:28,1.0,196286.0,2018-11-30 22:35:23,116.55,40.07,116.57,40.06,0.022361,...,-3,q,1,0,0,1,0,0,0,2
335996,2435650.0,2018-11-30 21:41:39,2.0,161948.0,2018-11-30 21:41:29,116.37,39.88,116.31,39.98,0.116619,...,-3,q,1,0,0,1,0,0,0,3
335997,2438938.0,2018-11-30 22:09:31,2.0,136171.0,2018-11-30 22:08:58,116.29,39.86,116.39,39.91,0.111803,...,-3,q,1,0,0,1,0,0,0,0
335998,2444889.0,NaN,0.0,178162.0,2018-11-30 22:13:05,116.36,39.90,116.40,39.92,0.044721,...,-3,q,1,0,0,1,0,0,0,3
335999,2469961.0,2018-11-30 22:21:16,1.0,162079.0,2018-11-30 22:20:59,116.33,40.00,116.29,40.02,0.044721,...,-3,q,1,0,0,1,0,0,0,0
336000,2451629.0,2018-11-30 22:22:55,9.0,103960.0,2018-11-30 22:22:51,116.41,39.89,116.32,40.08,0.210238,...,-3,q,1,0,0,1,0,0,0,3
336001,2451625.0,2018-11-30 22:34:52,9.0,103960.0,2018-11-30 22:34:49,116.41,39.92,116.32,40.08,0.183576,...,-3,q,1,0,0,1,0,0,0,3
336002,2451630.0,2018-11-30 22:40:41,9.0,103960.0,2018-11-30 22:40:38,116.41,39.96,116.32,40.08,0.150000,...,-3,q,1,0,0,1,0,0,0,3
336003,2451624.0,2018-11-30 22:44:14,9.0,103960.0,2018-11-30 22:43:58,116.41,39.96,116.32,40.08,0.150000,...,-3,q,1,0,0,1,0,0,0,3
336004,2451626.0,2018-11-30 22:46:05,9.0,103960.0,2018-11-30 22:46:02,116.41,39.98,116.32,40.08,0.134536,...,-3,q,1,0,0,1,0,0,0,3
336005,2452924.0,2018-11-30 22:25:34,5.0,205925.0,2018-11-30 22:25:31,116.46,39.90,116.47,39.90,0.010000,...,-3,q,1,0,0,1,0,0,0,2
336006,2451234.0,NaN,0.0,140814.0,2018-11-30 22:30:12,116.53,40.14,116.65,40.18,0.126491,...,-3,q,1,0,0,1,0,0,0,0
336007,2453504.0,2018-11-30 22:41:19,1.0,195445.0,2018-11-30 22:41:12,116.49,39.92,116.51,40.01,0.092195,...,-3,q,1,0,0,1,0,0,0,3
336008,2450885.0,2018-11-30 22:45:21,2.0,112043.0,2018-11-30 22:45:17,116.42,39.90,116.42,39.90,0.000000,...,-3,q,1,0,0,1,0,0,0,2
336009,2450890.0,2018-11-30 22:45:21,2.0,112043.0,2018-11-30 22:45:19,116.42,39.90,116.42,39.90,0.000000,...,-3,q,1,0,0,1,0,0,0,2
336010,2453460.0,NaN,0.0,103901.0,2018-11-30 22:47:25,116.28,40.01,116.32,39.99,0.044721,...,-3,q,1,0,0,1,0,0,0,3
336011,2462037.0,2018-11-30 22:49:54,1.0,140634.0,2018-11-30 22:49:49,116.24,40.16,116.00,40.35,0.306105,...,-3,q,1,0,0,1,0,0,0,2
336012,2440666.0,2018-11-30 22:58:47,9.0,127325.0,2018-11-30 22:57:54,116.45,39.99,116.27,39.91,0.196977,...,-3,q,1,0,0,1,0,0,0,1
336013,2474878.0,2018-11-30 22:59:04,1.0,176194.0,2018-11-30 22:59:00,116.34,39.94,116.33,39.95,0.014142,...,-3,q,1,0,0,1,0,0,0,2
336014,2444287.0,2018-11-30 23:02:34,1.0,180028.0,2018-11-30 23:01:09,116.21,40.11,116.18,39.99,0.123693,...,-3,q,1,0,0,1,0,0,0,2
336015,2464524.0,NaN,0.0,162040.0,2018-11-30 23:11:23,116.23,40.20,116.03,40.34,0.244131,...,-3,q,1,0,0,1,0,0,0,1
336016,2466585.0,NaN,0.0,180298.0,2018-11-30 23:19:57,116.36,39.90,116.37,39.78,0.120416,...,-3,q,1,0,0,1,0,0,0,0
336017,2453591.0,2018-11-30 23:22:25,7.0,143157.0,2018-11-30 23:22:22,116.69,40.14,116.00,40.35,0.721249,...,-3,q,1,0,0,1,0,0,0,2
336018,2443705.0,NaN,0.0,136046.0,2018-11-30 23:34:58,116.29,39.99,116.60,40.08,0.322800,...,-3,q,1,0,0,1,0,0,0,2
336019,2457630.0,2018-11-30 23:37:24,1.0,146064.0,2018-11-30 23:36:44,116.31,39.94,116.30,39.93,0.014142,...,-3,q,1,0,0,1,0,0,0,1
336020,2459542.0,2018-11-30 23:41:14,1.0,190374.0,2018-11-30 23:41:06,116.21,40.03,116.27,40.06,0.067082,...,-3,q,1,0,0,1,0,0,0,1

In [45]:
from datetime import datetime
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2019-07-13 11:40:26'

In [47]:
from datetime import datetime

with(open("../data/interim/task2/" + target_col + str(datetime.now().strftime('%m-%d-%H-%M-%S')) + ".txt", "w+")) as fo:
    for i in range(2):
        fo.writelines("F1 Score at split {} is {:.2f} %\n".format(i, 2))

In [48]:
features = pd.read_pickle('../data/processed/features/task_2.pickle')

In [51]:
features

['o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'mode_0_available',
 'mode_1_available',
 'mode_2_available',
 'mode_3_available',
 'mode_4_available',
 'mode_5_available',
 'mode_6_available',
 'mode_7_available',
 'mode_8_available',
 'mode_9_available',
 'mode_10_available',
 'mode_11_available',
 'max_dist',
 'min_dist',
 'mean_dist',
 'std_dist',
 'max_price',
 'min_price',
 'mean_price',
 'std_price',
 'max_eta',
 'min_eta',
 'mean_eta',
 'std_eta',
 'max_dist_mode',
 'min_dist_mode',
 'max_price_mode',
 'min_price_mode',
 'max_eta_mode',
 'min_eta_mode',
 'first_mode',
 'weekday',
 'hour',
 'distance_query',
 'dist_nearest_sub',
 'weather_dyq',
 'weather_qdy',
 'weather_dy',
 'weather_q',
 'weather_xydy',
 'weather_xq',
 'max_temp',
 'min_temp',
 'wind',
 'req_weekend',
 'is_holiday',
 'label']

In [54]:
features = [
    'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'mode_0_available',
 'mode_1_available',
 'mode_2_available',
 'mode_3_available',
 'mode_4_available',
 'mode_5_available',
 'mode_6_available',
 'mode_7_available',
 'mode_8_available',
 'mode_9_available',
 'mode_10_available',
 'mode_11_available',
 'max_dist',
 'min_dist',
 'mean_dist',
 'std_dist',
 'max_price',
 'min_price',
 'mean_price',
 'std_price',
 'max_eta',
 'min_eta',
 'mean_eta',
 'std_eta',
 'max_dist_mode',
 'min_dist_mode',
 'max_price_mode',
 'min_price_mode',
 'max_eta_mode',
 'min_eta_mode',
 'first_mode',
 'weekday',
 'hour',
 'distance_query',
 'dist_nearest_sub',
 'weather_dyq',
 'weather_qdy',
 'weather_dy',
 'weather_q',
 'weather_xydy',
 'weather_xq',
 'max_temp',
 'min_temp',
 'wind',
 'req_weekend',
 'is_holiday'
]

In [59]:
import pickle
with(open('../data/interim/task2/features.pickle', 'wb')) as fo:
    pickle.dump(features, fo)