In [7]:
import pandas as pd
import json

In [14]:
df_train = pd.read_csv('../data/raw/data_set_phase1/train_queries.csv')

In [8]:
with open("../data/external/weather.json", 'r') as f:
    weather_dict = json.load(f)

In [29]:
weather_types = {}
wind_types = {}
for i, el in weather_dict.items():
    if el['weather'] not in weather_types:
        weather_types[el['weather']] = 1
    else:
        weather_types[el['weather']] += 1
    if el['wind'] not in wind_types:
        wind_types[el['wind']] = 1
    else:
        wind_types[el['wind']] += 1
    
weather_types, wind_types

({'q': 25, 'dy': 23, 'dyq': 10, 'qdy': 9, 'xq': 1, 'xydy': 2},
 {'45': 5, '12': 40, '34': 6, '2': 6, '1': 10, '3': 3})

In [15]:
df_train.sample(5)

            sid       pid             req_time             o             d
283203  2511340  116244.0  2018-10-07 11:27:12  116.38,39.91  116.37,39.86
10925   2880572  104143.0  2018-11-17 14:40:58  116.53,39.92  116.13,39.72
335904  3324688       NaN  2018-10-16 08:22:54  116.40,39.90  116.39,39.92
46208   2554325       NaN  2018-11-19 15:11:20  116.35,39.91  116.39,39.89
162044  1216978  150532.0  2018-11-22 07:44:40  116.45,39.86  116.43,39.91

In [16]:
df_train['req_time'] = pd.to_datetime(df_train['req_time'])

In [17]:
df_train['req_date'] = df_train['req_time'].dt.strftime('%m-%d')

In [18]:
df_train.sample(5)

,sid,pid,req_time,o,d,req_date
172865,1941626,214416.0,2018-10-11 09:16:52,"116.25,40.07","116.32,39.89",10-11
300179,63314,NaN,2018-10-31 18:27:48,"116.29,39.96","116.45,39.93",10-31
288081,1531986,NaN,2018-11-28 10:35:55,"116.66,39.89","116.44,39.91",11-28
456486,2840818,144374.0,2018-11-17 20:40:40,"116.51,39.94","116.39,39.91",11-17
282455,1834471,112198.0,2018-11-03 00:12:39,"116.65,39.87","116.32,39.89",11-03

In [21]:
df_train['max_temp'] = df_train['req_date'].apply(lambda r: weather_dict[r]['max_temp'])
df_train['min_temp'] = df_train['req_date'].apply(lambda r: weather_dict[r]['min_temp'])
df_train['weather'] = df_train['req_date'].apply(lambda r: weather_dict[r]['weather'])
df_train['wind'] = df_train['req_date'].apply(lambda r: weather_dict[r]['wind'])

In [22]:
df_train.sample(5)

,sid,pid,req_time,o,d,req_date,max_temp,min_temp,weather,wind
334720,967496,NaN,2018-10-24 18:26:34,"116.38,39.94","116.45,39.87",10-24,20,6,qdy,12
449627,3074310,NaN,2018-11-16 16:50:27,"116.36,39.84","116.38,39.89",11-16,8,-1,q,12
93394,2992468,129567.0,2018-11-02 01:03:21,"116.56,40.13","116.40,39.90",11-02,18,4,q,12
365664,2753880,109311.0,2018-10-18 14:55:45,"116.27,39.90","116.47,39.91",10-18,18,5,q,12
159999,2088306,NaN,2018-11-18 18:03:04,"116.48,39.99","116.45,39.92",11-18,11,-3,q,34