In [15]:
import pandas as pd

In [16]:
df_train= pd.read_pickle('../data/processed/ranking/train_all_row.pickle')

In [17]:
df_train.head()

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time_x,pid,req_time,...,max_temp,min_temp,weather,wind,weather_dy,weather_dyq,weather_q,weather_qdy,weather_xq,weather_xydy
0,753082,2018-10-01 00:00:11,5,923,279,700.0,6,2018-10-01 00:00:10,101467.0,2018-10-01 00:00:10,...,24,12,q,45,0,0,1,0,0,0
1,753082,2018-10-01 00:00:11,5,1285,1088,200.0,1,2018-10-01 00:00:10,101467.0,2018-10-01 00:00:10,...,24,12,q,45,0,0,1,0,0,0
2,753082,2018-10-01 00:00:11,5,916,188,700.0,3,2018-10-01 00:00:10,101467.0,2018-10-01 00:00:10,...,24,12,q,45,0,0,1,0,0,0
3,753082,2018-10-01 00:00:11,5,923,859,700.0,5,2018-10-01 00:00:10,101467.0,2018-10-01 00:00:10,...,24,12,q,45,0,0,1,0,0,0
4,756507,2018-10-01 00:00:27,9,35469,2453,700.0,3,2018-10-01 00:00:11,171074.0,2018-10-01 00:00:11,...,24,12,q,45,0,0,1,0,0,0

In [18]:
df_train.shape

(1680848, 98)

In [19]:
df_train.sort_values('sid', inplace=True)

In [20]:
df_train.sid.unique()[:10]

array([10, 21, 25, 34, 35, 36, 44, 68, 69, 79])

In [22]:
df_train.sid.nunique()

362655

In [21]:
df_train[df_train.sid.isin(df_train.sid.unique()[:10])].to_pickle('../data/processed/ranking/train_all_row_sample_50.pickle')

In [23]:
df_train[df_train.sid.isin(df_train.sid.unique()[:100000])].to_pickle('../data/processed/ranking/train_all_row_sample_100k.pickle')

In [24]:
df_train[df_train.sid.isin(df_train.sid.unique()[:1000])].to_pickle('../data/processed/ranking/train_all_row_sample_1k.pickle')