In [2]:
import pandas as pd

In [12]:
feattype = 'all'
traindf = pd.read_pickle('../data/processed_'+feattype+'/train_'+feattype+'_last.pickle')
traindf2 = pd.read_pickle('../data/processed_'+feattype+'/train_'+feattype+'_first.pickle')
traindf1 = pd.read_pickle('../data/processed_'+feattype+'/train_'+feattype+'_row.pickle')

In [4]:
traindf.shape, traindf1.shape

((500000, 131), (2101060, 99))

In [5]:
traindf.tail(5)

,sid,click_time,click_mode,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query,...,max_temp,min_temp,weather,wind,dy,dyq,q,qdy,xq,xydy
499995,2574321.0,NaN,0.0,146418.0,2018-11-01 01:18:29,116.34,39.98,116.49,40.01,0.152971,...,17,3,q,12,0,0,1,0,0,0
499996,2256650.0,NaN,0.0,128778.0,2018-10-13 11:31:39,116.37,39.91,116.27,39.97,0.116619,...,20,8,dy,12,1,0,0,0,0,0
499997,3283826.0,NaN,0.0,180856.0,2018-11-25 15:54:12,116.30,39.97,116.32,39.98,0.022361,...,10,-3,q,1,0,0,1,0,0,0
499998,3239400.0,NaN,0.0,156918.0,2018-11-07 13:00:20,116.37,39.86,116.24,39.93,0.147648,...,13,3,dy,12,1,0,0,0,0,0
499999,3238259.0,NaN,0.0,209690.0,2018-11-07 07:48:43,116.37,39.86,116.60,40.08,0.318277,...,13,3,dy,12,1,0,0,0,0,0

In [15]:
list(traindf.columns)

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11',
 'dist_nearest_sub',
 'req_date',
 'req_hour',
 'req_weekend',
 'req_night',
 'req_day',
 'req_evening',
 'is_holiday',
 'max_temp',
 'min_temp',
 'weather',
 'wind',
 'dy',
 'dyq',
 'q',
 'qdy',
 'xq',
 'xydy']

In [16]:
traindf = traindf.drop('click_time', axis=1)
traindf1 = traindf1.drop('click_time', axis=1)
traindf2 = traindf2.drop('click_time', axis=1)

traindf = traindf.drop('weather', axis=1)
traindf1 = traindf1.drop('weather', axis=1)
traindf2 = traindf2.drop('weather', axis=1)

In [11]:
traindf.weather.sample(20)

182922      q
161192      q
466413    dyq
136064     dy
72005     dyq
387264      q
454056      q
198517      q
451795      q
223966    qdy
153153      q
57596       q
271961      q
291198      q
14932       q
131880     dy
178980     dy
58530     qdy
83921      dy
148504    dyq
Name: weather, dtype: object

In [4]:
traincols = traindf.columns.tolist()
testcols = testdf.columns.tolist()
traincols1 = traindf1.columns.tolist()
testcols1 = testdf1.columns.tolist()

In [7]:
set(traincols) - set(testcols)

{'click_mode', 'click_time'}

In [9]:
set(traincols1) - set(traincols)

{'distance_plan', 'eta', 'price', 'transport_mode'}

In [5]:
traincols

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11',
 'dist_nearest_sub',
 'req_date',
 'req_hour',
 'req_weekend',
 'req_night',
 'req_day',
 'req_evening',
 'is_holiday',
 'max_temp',
 'min_temp',
 'weather',
 'wind']

In [12]:
type = 'row'
traindf = pd.read_pickle('../data/processed_all/train_all_'+type+'.pickle')
testdf = pd.read_pickle('../data/processed_all/test_all_'+type+'.pickle')

In [13]:
traindf.shape, testdf.shape

((2101060, 27), (429803, 25))

In [11]:
traindf.columns.to_list()

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11',
 'dist_nearest_sub',
 'req_date',
 'req_hour',
 'req_weekend',
 'req_night',
 'req_day',
 'req_evening',
 'is_holiday',
 'max_temp',
 'min_temp',
 'weather',
 'wind']

In [9]:
df_profiles = pd.read_csv('../data/raw/data_set_phase1/profiles.csv')
print(traindf1.shape)
traindf1 = pd.merge(traindf1, df_profiles, how='outer')

(2101060, 15)

In [10]:
traindf1 = traindf1[pd.notnull(traindf1['o_long'])]
print(traindf1.shape)

(2101060, 81)

In [11]:
testdf1 = pd.merge(testdf1, df_profiles, how='outer')

In [12]:
testdf1 = testdf1[pd.notnull(testdf1['o_long'])]
print(testdf1.shape)

(429803, 79)

In [18]:
traindf.to_pickle('../data/processed_all/train_all_last.pickle')

In [21]:
traindf1.to_pickle('../data/processed_all/train_all_first.pickle')

In [22]:
traindf2.to_pickle('../data/processed_all/train_all_row.pickle')

In [16]:
testdf1.to_pickle('../data/processed_all/test_all_row.pickle')

In [18]:
traincols = traindf.columns.tolist()
testcols = testdf.columns.tolist()
traincols1 = traindf1.columns.tolist()
testcols1 = testdf1.columns.tolist()

In [22]:
len(set(traincols) - set(traincols1))

36