In [1]:
import pandas as pd

In [14]:
traindf = pd.read_pickle('../data/processed_raw/train_raw_last.pickle')
testdf = pd.read_pickle('../data/processed_raw/test_raw_last.pickle')
traindf1 = pd.read_pickle('../data/processed_raw/train_raw_first.pickle')
testdf1 = pd.read_pickle('../data/processed_raw/test_raw_first.pickle')

In [16]:
traindf = pd.read_pickle('../data/processed_raw/train_raw_row.pickle')
testdf = pd.read_pickle('../data/processed_raw/test_raw_row.pickle')

In [17]:
traindf.shape, testdf.shape, traindf1.shape, testdf1.shape

((500000, 76), (94358, 74), (500000, 113), (94358, 111))

In [20]:
traindf.tail(5)

,sid,click_time,click_mode,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
499995,2574321.0,NaN,NaN,146418.0,2018-11-01 01:18:29,116.34,39.98,116.49,40.01,0.152971,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
499996,2256650.0,NaN,NaN,128778.0,2018-10-13 11:31:39,116.37,39.91,116.27,39.97,0.116619,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
499997,3283826.0,NaN,NaN,180856.0,2018-11-25 15:54:12,116.30,39.97,116.32,39.98,0.022361,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
499998,3239400.0,NaN,NaN,156918.0,2018-11-07 13:00:20,116.37,39.86,116.24,39.93,0.147648,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
499999,3238259.0,NaN,NaN,209690.0,2018-11-07 07:48:43,116.37,39.86,116.60,40.08,0.318277,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
traincols = traindf.columns.tolist()
testcols = testdf.columns.tolist()
traincols1 = traindf1.columns.tolist()
testcols1 = testdf1.columns.tolist()

In [12]:
set(traincols) - set(testcols)

{'click_mode', 'click_time'}

In [13]:
set(traincols) - set(traincols1)

{'dist_0',
 'dist_1',
 'dist_10',
 'dist_11',
 'dist_2',
 'dist_3',
 'dist_4',
 'dist_5',
 'dist_6',
 'dist_7',
 'dist_8',
 'dist_9',
 'eta_0',
 'eta_1',
 'eta_10',
 'eta_11',
 'eta_2',
 'eta_3',
 'eta_4',
 'eta_5',
 'eta_6',
 'eta_7',
 'eta_8',
 'eta_9',
 'plan_time',
 'price_0',
 'price_1',
 'price_10',
 'price_11',
 'price_2',
 'price_3',
 'price_4',
 'price_5',
 'price_6',
 'price_7',
 'price_8',
 'price_9'}

In [26]:
traincols

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'plans',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11']