In [2]:
import pandas as pd

In [4]:
feattype = 'raw'
traindf = pd.read_pickle('../data/processed_'+feattype+'/train_'+feattype+'_last.pickle')
testdf = pd.read_pickle('../data/processed_'+feattype+'/test_'+feattype+'_last.pickle')
traindf1 = pd.read_pickle('../data/processed_'+feattype+'/train_'+feattype+'_row.pickle')
testdf1 = pd.read_pickle('../data/processed_'+feattype+'/test_'+feattype+'_row.pickle')

In [21]:
traindf = pd.read_pickle('../data/processed_raw/train_raw_row.pickle')
testdf = pd.read_pickle('../data/processed_raw/test_raw_row.pickle')

In [5]:
traindf.shape, testdf.shape, traindf1.shape, testdf1.shape

((500000, 113), (94358, 111), (2101060, 15), (429803, 13))

In [23]:
traindf.tail(5)

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time,pid,req_time,o_long,o_lat,d_long,d_lat,distance_query
2101055,1666846,2018-10-23 15:25:20,4,4209,878,,3,2018-10-23 15:25:13,NaN,2018-10-23 15:25:13,116.3,39.98,116.32,39.96,0.028284
2101056,1666846,2018-10-23 15:25:20,4,4025,1216,,6,2018-10-23 15:25:13,NaN,2018-10-23 15:25:13,116.3,39.98,116.32,39.96,0.028284
2101057,1666846,2018-10-23 15:25:20,4,4331,2226,200,1,2018-10-23 15:25:13,NaN,2018-10-23 15:25:13,116.3,39.98,116.32,39.96,0.028284
2101058,1666846,2018-10-23 15:25:20,4,4858,2342,200,1,2018-10-23 15:25:13,NaN,2018-10-23 15:25:13,116.3,39.98,116.32,39.96,0.028284
2101059,1666846,2018-10-23 15:25:20,4,3933,3547,,5,2018-10-23 15:25:13,NaN,2018-10-23 15:25:13,116.3,39.98,116.32,39.96,0.028284

In [6]:
traincols = traindf.columns.tolist()
testcols = testdf.columns.tolist()
traincols1 = traindf1.columns.tolist()
testcols1 = testdf1.columns.tolist()

In [7]:
set(traincols) - set(testcols)

{'click_mode', 'click_time'}

In [8]:
set(traincols) - set(traincols1)

{'dist_0',
 'dist_1',
 'dist_10',
 'dist_11',
 'dist_2',
 'dist_3',
 'dist_4',
 'dist_5',
 'dist_6',
 'dist_7',
 'dist_8',
 'dist_9',
 'eta_0',
 'eta_1',
 'eta_10',
 'eta_11',
 'eta_2',
 'eta_3',
 'eta_4',
 'eta_5',
 'eta_6',
 'eta_7',
 'eta_8',
 'eta_9',
 'p0',
 'p1',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p2',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p3',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p4',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p5',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p6',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'p7',
 'p8',
 'p9',
 'price_0',
 'price_1',
 'price_10',
 'price_11',
 'price_2',
 'price_3',
 'price_4',
 'price_5',
 'price_6',
 'price_7',
 'price_8',
 'price_9'}

In [26]:
traincols

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'plans',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11']

In [12]:
type = 'row'
traindf = pd.read_pickle('../data/processed_all/train_all_'+type+'.pickle')
testdf = pd.read_pickle('../data/processed_all/test_all_'+type+'.pickle')

In [13]:
traindf.shape, testdf.shape

((2101060, 27), (429803, 25))

In [11]:
traindf.columns.to_list()

['sid',
 'click_time',
 'click_mode',
 'pid',
 'req_time',
 'o_long',
 'o_lat',
 'd_long',
 'd_lat',
 'distance_query',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'p7',
 'p8',
 'p9',
 'p10',
 'p11',
 'p12',
 'p13',
 'p14',
 'p15',
 'p16',
 'p17',
 'p18',
 'p19',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p43',
 'p44',
 'p45',
 'p46',
 'p47',
 'p48',
 'p49',
 'p50',
 'p51',
 'p52',
 'p53',
 'p54',
 'p55',
 'p56',
 'p57',
 'p58',
 'p59',
 'p60',
 'p61',
 'p62',
 'p63',
 'p64',
 'p65',
 'plan_time',
 'dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11',
 'dist_nearest_sub',
 'req_date',
 'req_hour',
 'req_weekend',
 'req_night',
 'req_day',
 'req_evening',
 'is_holiday',
 'max_temp',
 'min_temp',
 'weather',
 'wind']

In [9]:
df_profiles = pd.read_csv('../data/raw/data_set_phase1/profiles.csv')
print(traindf1.shape)
traindf1 = pd.merge(traindf1, df_profiles, how='outer')

(2101060, 15)

In [10]:
traindf1 = traindf1[pd.notnull(traindf1['o_long'])]
print(traindf1.shape)

(2101060, 81)

In [11]:
testdf1 = pd.merge(testdf1, df_profiles, how='outer')

In [12]:
testdf1 = testdf1[pd.notnull(testdf1['o_long'])]
print(testdf1.shape)

(429803, 79)

In [17]:
traindf1.to_pickle('../data/processed_all/train_all_row.pickle')

In [16]:
testdf1.to_pickle('../data/processed_all/test_all_row.pickle')