In [115]:
import pandas as pd
import numpy as np
import json

In [67]:
traindf = pd.read_csv('../data/raw/data_set_phase1/train_queries.csv')
testdf = pd.read_csv('../data/raw/data_set_phase1/test_queries.csv')
planstr = pd.read_csv('../data/raw/data_set_phase1/train_plans.csv')
planste = pd.read_csv('../data/raw/data_set_phase1/test_plans.csv')

In [11]:
def generate_coordinates(df):
    df[["o_long", "o_lat"]] = df.o.str.split(",", 1, expand=True).astype(float)
    df.drop("o", axis=1, inplace=True)

    df[["d_long", "d_lat"]] = df.d.str.split(",", 1, expand=True).astype(float)
    df.drop("d", axis=1, inplace=True)
    
    return df

In [68]:
traindf = generate_coordinates(traindf)
testdf = generate_coordinates(testdf)

In [197]:
testdf.shape

(94358, 7)

In [40]:
planstr.plans[0]

'[{"distance": 32303, "price": 600, "eta": 5087, "transport_mode": 9}, {"distance": 33678, "price": "", "eta": 3149, "transport_mode": 3}, {"distance": 33678, "price": 10000, "eta": 3269, "transport_mode": 4}, {"distance": 32099, "price": 600, "eta": 5996, "transport_mode": 2}, {"distance": 30446, "price": 900, "eta": 6494, "transport_mode": 1}]'

In [33]:
planstr.shape

(491054, 3)

In [198]:
alltr = pd.merge(traindf,planstr,how='outer')
alltr_test = pd.merge(testdf,planste,how='outer')

In [24]:
alltr.sample(5)

,sid,pid,req_time,o,d,plan_time,plans
87214,3142946,118268.0,2018-10-26 12:35:20,"116.54,39.91","116.51,39.92",2018-10-26 12:35:20,"[{""distance"": 4499, ""price"": 200, ""eta"": 2399,..."
270325,3169393,NaN,2018-11-21 15:11:11,"116.29,40.15","116.24,40.12",2018-11-21 15:11:11,"[{""distance"": 7072, ""price"": 400, ""eta"": 2399,..."
180869,1778312,NaN,2018-10-09 11:25:42,"116.41,39.88","116.27,39.98",2018-10-09 11:25:42,"[{""distance"": 24540, ""price"": 500, ""eta"": 4615..."
266399,862793,129567.0,2018-11-26 14:43:06,"116.42,40.03","116.42,39.90",2018-11-26 14:43:06,"[{""distance"": 17738, ""price"": 500, ""eta"": 3130..."
82321,376064,158895.0,2018-10-05 20:18:26,"116.39,39.90","116.39,39.90",2018-10-05 20:18:26,"[{""distance"": 387, ""price"": """", ""eta"": 330, ""t..."

In [25]:
alltr.shape

(500000, 7)

In [37]:
# all rows have a plan (?)
alltr[alltr != np.nan].shape

(500000, 8)

In [70]:
num_modes = 12
modes = []
for i in range(num_modes):
    modes.append('dist_' + str(i))
    modes.append('price_' + str(i))
    modes.append('eta_' + str(i))
    
modes

['dist_0',
 'price_0',
 'eta_0',
 'dist_1',
 'price_1',
 'eta_1',
 'dist_2',
 'price_2',
 'eta_2',
 'dist_3',
 'price_3',
 'eta_3',
 'dist_4',
 'price_4',
 'eta_4',
 'dist_5',
 'price_5',
 'eta_5',
 'dist_6',
 'price_6',
 'eta_6',
 'dist_7',
 'price_7',
 'eta_7',
 'dist_8',
 'price_8',
 'eta_8',
 'dist_9',
 'price_9',
 'eta_9',
 'dist_10',
 'price_10',
 'eta_10',
 'dist_11',
 'price_11',
 'eta_11']

In [122]:
num_modes = 12
for mode in modes:
    alltr[mode] = 0

In [199]:
num_modes = 12
for mode in modes:
    alltr_test[mode] = 0

In [123]:
alltr.sample(5)

,sid,pid,req_time,o_long,o_lat,d_long,d_lat,plan_time,plans,dist_0,...,eta_8,dist_9,price_9,eta_9,dist_10,price_10,eta_10,dist_11,price_11,eta_11
432583,3081068,151695.0,2018-11-16 13:58:09,116.27,40.00,116.40,40.06,2018-11-16 13:58:09,"[{""distance"": 25779, ""price"": 600, ""eta"": 4011...",0,...,0,0,0,0,0,0,0,0,0,0
250697,2230206,141933.0,2018-10-13 14:15:00,116.27,39.99,116.27,40.00,2018-10-13 14:15:00,"[{""distance"": 2782, ""price"": 2000, ""eta"": 785,...",0,...,0,0,0,0,0,0,0,0,0,0
315888,3094060,132831.0,2018-11-16 17:03:10,116.35,40.07,116.33,39.99,2018-11-16 17:03:10,"[{""distance"": 15335, ""price"": 500, ""eta"": 2036...",0,...,0,0,0,0,0,0,0,0,0,0
325264,2138527,206158.0,2018-10-19 11:04:01,116.15,39.72,116.36,39.92,2018-10-19 11:04:01,"[{""distance"": 36681, ""price"": 900, ""eta"": 5756...",0,...,0,0,0,0,0,0,0,0,0,0
415345,2371248,111552.0,2018-10-10 21:55:51,116.64,39.91,116.49,39.98,2018-10-10 21:55:51,"[{""distance"": 24887, ""price"": 900, ""eta"": 5144...",0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
alltr.iloc[0].plans

'[{"distance": 5219, "price": 300, "eta": 1367, "transport_mode": 9}, {"distance": 4537, "price": "", "eta": 1035, "transport_mode": 3}, {"distance": 4537, "price": 2100, "eta": 1095, "transport_mode": 4}, {"distance": 4118, "price": "", "eta": 1243, "transport_mode": 6}, {"distance": 5219, "price": 300, "eta": 1679, "transport_mode": 2}, {"distance": 4046, "price": "", "eta": 3672, "transport_mode": 5}]'

In [139]:
df = alltr.iloc[:10000].copy()

In [195]:
def preprocess_plans(df):
    for i, r in df.iterrows():
        if (i+1) % 1000 == 0:
            print("Processing row {}".format(str(i + 1)), end="\r")
        if isinstance(r.plans, float):
            # nan
            continue
        for pl in json.loads(r.plans):
            df.at[i,'dist_' + str(pl['transport_mode'])] = pl['distance']
            if pl['price']:
                df.at[i,'price_' + str(pl['transport_mode'])] = pl['price']
            else:
                df.at[i,'price_' + str(pl['transport_mode'])] = 999
            df.at[i,'eta_' + str(pl['transport_mode'])] = pl['eta']
    return df

In [185]:
alldf = preprocess_plans(alltr)

In [200]:
alldf_test = preprocess_plans(alltr_test)

In [187]:
alldf[modes].sample(20)

,dist_0,price_0,eta_0,dist_1,price_1,eta_1,dist_2,price_2,eta_2,dist_3,...,eta_8,dist_9,price_9,eta_9,dist_10,price_10,eta_10,dist_11,price_11,eta_11
455807,0,0,0,6404,400,3533,7709,300,3098,7765,...,0,0,0,0,0,0,0,8137,500,3078
297842,0,0,0,14107,400,4246,0,0,0,17378,...,0,16438,500,3220,0,0,0,0,0,0
290048,0,0,0,1096,200,1280,0,0,0,2684,...,0,0,0,0,0,0,0,0,0,0
442248,0,0,0,6499,200,2828,0,0,0,5164,...,0,0,0,0,0,0,0,0,0,0
1813,0,0,0,839,200,1129,0,0,0,2744,...,0,0,0,0,0,0,0,0,0,0
270409,0,0,0,17163,400,5206,0,0,0,17057,...,0,17701,500,3140,0,0,0,0,0,0
290743,0,0,0,0,0,0,8853,400,2808,7992,...,0,0,0,0,0,0,0,0,0,0
244879,0,0,0,0,0,0,0,0,0,783,...,0,0,0,0,0,0,0,0,0,0
351248,0,0,0,0,0,0,11306,400,2556,9233,...,0,11311,400,2097,0,0,0,0,0,0
365118,0,0,0,60544,1700,11249,59477,800,7468,60918,...,0,59912,800,6933,61744,3500,6547,0,0,0
224601,0,0,0,7347,200,2647,0,0,0,4718,...,0,0,0,0,0,0,0,0,0,0
177333,0,0,0,0,0,0,0,0,0,33715,...,0,34090,600,4242,0,0,0,0,0,0
201547,0,0,0,0,0,0,0,0,0,13820,...,0,0,0,0,13711,2100,2931,13089,600,3976
260484,0,0,0,0,0,0,0,0,0,11753,...,0,0,0,0,0,0,0,0,0,0
230277,0,0,0,2136,200,1924,0,0,0,2566,...,0,0,0,0,0,0,0,0,0,0
12003,0,0,0,0,0,0,12290,400,2745,12143,...,0,0,0,0,0,0,0,10376,600,3416
407779,0,0,0,1486,200,1298,0,0,0,661,...,0,0,0,0,0,0,0,0,0,0
77315,0,0,0,4583,200,2584,0,0,0,4029,...,0,0,0,0,0,0,0,0,0,0
309000,0,0,0,2492,200,1570,0,0,0,2212,...,0,0,0,0,0,0,0,0,0,0
315509,0,0,0,13250,300,4341,13618,500,2966,13465,...,0,0,0,0,0,0,0,0,0,0

In [190]:
alldf.shape

(500000, 45)

In [191]:
alldf.to_pickle('train_preprocess.pickle')

In [201]:
alldf_test.to_pickle('test_preprocess.pickle')